@tailwinds base;

@layer base {
    @font-face {
        font-family: MyFont;
        src: url(/assets/fonts/Myfont-Regular.otf);
    }
}

@font-face {
  font-family: MyFont;
  src: url(/assets/fonts/Myfont-Regular.otf);
}


body {
    font-family: Roboto;
}

h2 {
    font-family: MyFont;
}

/* footer */
#amyl {
    font-family: MyFont;
    font-size: 1.5rem;
}