body {
    font-family: Roboto;
    background-image: url(/assets/img/bg.gif);
    background-size: repeat;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
}

h1 {
    font-family: 'Montserrat Alternates';
    text-transform: uppercase;
}

h1, a {
    font-family: 'Montserrat Alternates';
}